* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: rgb(112, 97, 97);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}
section h2 {
    color: #fff;
}
section h3 {
    font-weight: 1000;
    text-decoration: underline;
    text-transform: uppercase;
    
}
section p {
    font-style: oblique;
    font-variant: small-caps;

}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff6347;
}
section > img {
    width: 300px;
}
.movies-section {
    padding: 2rem 0;
    background: #190606;
}

.movies-section h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: 10px;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
}

.movie-item:hover {
    transform: translateY(-10px);
}

.movie-item img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
}

.movie-info {
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
}
